.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    grid-template-rows: 293px;
    width: 1100px;
    padding: 0 53px 0 50px;

}

.header_menu {
    line-height: 22px;
    justify-self: start;
    align-items: center;
    
}

.header_link-list {
    display: flex;
    gap: 33px;
    max-width: 392px;
    justify-self: end;
    margin-right: 50px;
    font-style: normal;
    min-width: auto;
    flex-direction: row;
}

.header__links-list-item .header__links-list-item_no-bullit {
    display: grid;
}

.header__links-list-item {
    list-style-type: circle;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
    list-style: none;
    text-decoration: none;
}

.logo {
    width: 148px;
    height: 105px;
    display: flex;
    justify-self: center;
}

.address {
    text-underline-offset: 4px;
    display: block;
}

.address_paragraph {
    text-decoration: none;
    padding-top: 1px;
}

.header__address {
    padding-right: 50px;
    padding-left: 184px;
}

.cover {
    position: relative;
    margin-bottom: 180px;
    background-image: url("../images/cover.jpg");
    padding: 165px 20px 106px 50px;
    z-index: -1;
    background-position: center;
    background-size: cover;
    max-height: 757px;
    width: 1100px;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

.cover_title {
    width: 1000;
    line-height: 135px;
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;
    position: relative;
    color: white;
    letter-spacing: 30px;
}

.aligned-text {
    text-align: start;
}

.aligned-text_center {
    display: block;
    text-align: center;
}

.aligned-text_right {
    display: block;
    text-align: end;
}

.description {
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    align-items: center;
    z-index: 0;
    word-spacing: 0.9em;
    padding-top: 80px;
    position: relative;
    margin-bottom: 50px;
}

.button_bet {
    text-align: center;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    min-width: 256px;
    min-height: 51px;
    position: relative;
    margin-right: 50px;
    
}

.lots {
    width: 1052px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.lots_title {
    text-transform: uppercase;
    font-size: 40px;
    padding-left: 40px;
}

.lots__cards-list {
    display: flex;
  justify-content: space-between;
  gap: 25px;
  list-style: none;
  width: 1052px;
  align-items: stretch;
    flex-wrap: wrap;
}

.card {
    width: 334px;
    position: relative;
    color: white;
    display: flex;
    background-position: center;
    background-size: cover;
}

.card-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_title {
    color: white;
    position: relative;
    z-index: 2;
    text-decoration: underline;
    margin: 48px 40px auto 40px;
}

.card_article {
    color: white;
    position: relative;
    z-index: 2;
    margin: auto 40px 48px 40px;
    font-size: 20px;
}

.card_type_movie {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.button {
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    color: black;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    padding-top: 30px;
    padding-left: 40px;
}

.about {
    padding: 120px 24px 180px 24px;
}

.about_colomn {
    display: grid;
    grid-template-columns: 360px 1fr;
    align-items: center;
}

.about_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-left: 47px;
    margin-top: 35px;
    
}

.about_logo-img {
    width: 148px;
    height: 114px;
    background-size: cover;
    
}

.about_title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 60px;
}

.about_text {
    font-size: 20px;
    font-weight: 400;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    gap: 30px;
} 

.footer {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    width: 1100px;
    grid-template-rows: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer_address {
    display: flex;
    flex-direction: column;
}

.footer_link-list, .footer_networks-list {
    list-style: none;
    text-align: center;
    justify-self:center;
}

.footer_menu-link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.footer_menu-link_active {
    text-decoration: none;
}

.footer_networks-list {
    display: flex;
    
}

.footer_networks-list {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.networks {
    display: flex;
    height: 48px;
 } /*НЕ ПОНИМАЮ*/

